body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h1 {
    font-size: 42px;
}

a {
    font-family: "Open Sans", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 80px;
}

.left {
    justify-self: end;
}

.right {
    align-self: center;
}

button {
    font-family: "Open Sans", sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 50px;
    background-color: black;
    color: white;
    font-size: 18px;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.hi-button,
.yes-button {
    margin-right: 10px;
}

input {
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 50px;
    color: black;
    font-size: 18px;
    text-align: center;
}
